<footer>
    <div class="verybottom">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="aligncenter">
                        <div class="logo">
                            <a class="brand" href="index.html">
                            <img src="resources/img/logo.png" alt="" />
                            </a>
                        </div>
                        <p>
                             &copy; Vesperr labs Inc 2013 - All right reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>