<footer>
    <a href="https://www.google.com/maps/place/4237+N+Western+Ave,+Chicago,+IL+60618/@41.9587856,-87.6883191,17z/data=!3m1!4b1!4m2!3m1!1s0x880fd20d84976533:0x1894a4276b86fe5" target="_blank"><i class="fa fa-map-marker"></i>4237 N Western Ave, Chicago, IL 60618</a>
    <a href="tel:8476684165"><i class="fa fa-phone"></i>847-668-4165</a>
    <a href="mailto:joe@universalconstruction.services"><i class="fa fa-envelope"></i>joe@universalconstruction.services</a>
    <a href="https://twitter.com/UnivConstSer" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="http://www.yelp.com/biz/universal-construction-services-chicago" target="_blank"><i class="fa fa-yelp"></i></a>
    <a href="https://plus.google.com/b/105702395896524389879/105702395896524389879/about/p/pub" target="_blank"><i class="fa fa-google-plus"></i></a>
    <a href="https://www.facebook.com/UniversalConstructionServices" target="_blank"><i class="fa fa-facebook"></i></a>  
    <a href="https://www.linkedin.com/company/universal-construction-services"><i class="fa fa-linkedin"></i></a>  
</footer><!-- end footer -->