<footer>
    <a href="https://www.google.com/maps/place/The+Cheesecake+Factory/@37.7869818,-122.407566,19z/data=!3m1!5s0x8085808f315a0921:0x72ed99a217e8e9a1!4m5!1m2!2m1!1scheesecake+factory+san+francisco!3m1!1s0x0:0x2490fd459baf6ec5" target="_blank"><i class="fa fa-map-marker"></i>123 Union Street San Francisco, CA 95678</a>
    <a href="tel:1234567890"><i class="fa fa-phone"></i>123-456-7890</a>
    <a href="mailto:hello@hammersmith.com"><i class="fa fa-envelope"></i>hello@hammersmith.com</a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-google-plus"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>  
</footer><!-- end footer -->