<!-- Navigation -->
<nav class="navbar scroll-header my-sticky-element" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            menu <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" data-scroll data-speed="500" data-easing="easeInOutCubic" data-url="false" href="#intro">logo</a>
        </div>

        <!-- Navigation -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a data-scroll data-speed="500" data-easing="easeInOutCubic" data-url="false" href="#intro">hello</a></li>
            <li><a data-scroll data-speed="500" data-easing="easeInOutCubic" data-url="false" href="#work">work</a></li>
            <li><a data-scroll data-speed="500" data-easing="easeInOutCubic" data-url="false" href="#about">about</a></li>
            <li><a data-scroll data-speed="500" data-easing="easeInOutCubic" data-url="false" href="#services">services</a></li>
            <li><a data-scroll data-speed="500" data-easing="easeInOutCubic" data-url="false" href="#prices">prices</a></li>
            <li><a data-scroll data-speed="500" data-easing="easeInOutCubic" data-url="false" href="#contact">contact</a></li>
          </ul>
        </div><!-- end .navbar-collapse -->
    </div><!-- end .container -->
</nav>